<div *ngIf="role; else loading" class="d-flex flex-column flex-lg-row">
  <!--begin::Sidebar-->
  <div class="flex-column flex-lg-row-auto w-100 w-lg-200px w-xl-300px mb-10">
    <!--begin::Card-->
    <div class="card card-flush">
      <!--begin::Card header-->
      <div class="card-header">
        <!--begin::Card title-->
        <div class="card-title">
          <h2 class="mb-0">
            {{ role.nome | titlecase }}
          </h2>
        </div>
        <!--end::Card title-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <!--begin::Permissions-->
        <div class="d-flex flex-column text-gray-600">
          <ng-container *ngIf="rolePermissions && rolePermissions.length > 0; else noPermissions">
            <ng-container *ngFor="let permission of rolePermissions; let i = index">
              <div class="d-flex align-items-center py-2" *ngIf="i < 5">
                <span class="bullet bg-primary me-3"></span>
                {{ permission.nome }}
              </div>
            </ng-container>
            <div class="d-flex align-items-center py-2" *ngIf="rolePermissions.length > 5">
              <span class="bullet bg-primary me-3"></span>
              <em>e mais {{ rolePermissions.length - 5 }}...</em>
            </div>
          </ng-container>
          <ng-template #noPermissions>
            <div class="d-flex align-items-center py-2">
              <span class="bullet bg-primary me-3"></span>
              Nenhuma permissão atribuída.
            </div>
          </ng-template>
        </div>
        <!--end::Permissions-->
      </div>
      <!--end::Card body-->
      <!--begin::Card footer-->
      <div class="card-footer pt-0">
        <button type="button" class="btn btn-light btn-active-primary" (click)="editRole()">Editar Role</button>
      </div>
      <!--end::Card footer-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Sidebar-->
  <!--begin::Content-->
  <div class="flex-lg-row-fluid ms-lg-10">
    <!--begin::Card-->
    <div class="card card-flush mb-6 mb-xl-9">
      <!--begin::Card header-->
      <div class="card-header pt-5">
        <!--begin::Card title-->
        <div class="card-title">
          <h2 class="d-flex align-items-center">
            Usuários Atribuídos
            <span class="text-gray-600 fs-6 ms-1">(0)</span>
          </h2>
        </div>
        <!--end::Card title-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <!--begin::Table-->
        <p>Nenhum usuário atribuído a este cargo no momento.</p>
        <!--end::Table-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Content-->
</div>
<ng-template #loading>
  <div id="splash-screen" class="splash-screen">
    <img src="./assets/media/logos/azzo_simbolo.svg" alt="Azzo logo" />
    <span>Loading ...</span>
  </div>
</ng-template>