<div class="card">
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
                <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
                <input
                    type="text"
                    class="form-control form-control-solid w-250px ps-12"
                    placeholder="Pesquisar Cliente"
                    [(ngModel)]="searchTerm"
                    (input)="onSearch()"
                />
            </div>
            <div class="d-flex align-items-center position-relative my-1 ms-8">
                <select class="form-select form-select-solid" [(ngModel)]="selectedRegion" (change)="applyFilter()">
                    <option value="">Todas as Regiões</option>
                    <option value="1">Região Piumhi</option>
                    <option value="2">Região Extrema</option>
                    <option value="3">Região Zona da Mata</option>
                    <option value="4">Região Passos</option>
                    <option value="5">Região Pouso Alegre</option>
                    <option value="6">Região Poços de Caldas</option>
                    <option value="7">Região Alfenas</option>
                    <option value="8">Região São Lourenço</option>
                    <option value="9">Região Geral</option>
                </select>
            </div>
            
    
            <!-- Filtro por Status -->
            <div class="d-flex align-items-center position-relative my-1 ms-8">
                <select class="form-select form-select-solid" [(ngModel)]="selectedStatus" (change)="applyFilter()">
                    <option value="">Todos os Status</option>
                    <option value="101">Ativo</option>
                    <option value="102">Frio</option>
                    <option value="103">Inativo</option>
                </select>
            </div>
        </div>
        <div class="card-toolbar">
            <div class="d-flex justify-content-end">
                <!-- Caso seja necessário adicionar algum botão -->
            </div>
        </div>
    </div>

    <div *ngIf="paginatedCustomer; else loading" class="card-body pt-0">
        <div class="table-responsive">
            <table
                id="kt_ecommerce_customers_table"
                class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
            >
                <thead>
                    <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-125px">Nome</th>
                        <th class="min-w-125px">Número Registro</th>
                        <th class="min-w-125px">Cidade</th>
                        <th class="min-w-125px">Telefone</th>
                        <th class="min-w-125px">Ativo</th>
                        <th class="min-w-125px">Vendedor</th>
                        <th class="text-end min-w-100px">Ações</th>
                    </tr>
                </thead>
                <tbody class="fw-semibold text-gray-600">
                    <tr *ngFor="let customer of paginatedCustomer">
                        <td>{{ customer.nome_empresa || customer.nome }}</td>
                        <td>{{ customer.numero_doc || customer.ie }}</td>
                        <td>{{ customer.cidade_string }}</td>
                        <td>{{ customer.celular }}</td>
                        <td>
                            <span class="badge"           [ngClass]="{
                                'badge-light-success': customer.status_cliente.status_cliente_id === 101,
                                'badge-light-warning': customer.status_cliente.status_cliente_id === 102,
                                'badge-light-danger': customer.status_cliente.status_cliente_id === 103
                              }">
                                {{ customer.status_cliente.nome }}
                            </span>
                        </td>
                        <td>{{ customer.regiao?.vendedores?.[0]?.nome || 'Sem Vendedor' }}</td>

                        <td class="text-end">
                            <button
                                class="btn btn-icon btn-active-light-primary w-30px h-30px me-3"
                                (click)="editCustomer(customer.codigo)"
                            >
                                <i class="ki-duotone ki-pencil fs-3">
                                    <span class="path1"></span><span class="path2"></span>
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row mt-5">
            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                <div class="fs-6 fw-bold text-gray-700">
                    Mostrando {{ startItem }} - {{ endItem }} de {{ filteredCustomers.length }} Clientes.
                </div>
            </div>
            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                <ul class="pagination">
                    <li
                        class="page-item"
                        [class.disabled]="currentPage === 1"
                    >
                        <button
                            class="page-link first"
                            role="link"
                            type="button"
                            aria-controls="kt_ecommerce_customers_table"
                            [attr.aria-disabled]="currentPage === 1 ? 'true' : 'false'"
                            aria-label="First"
                            (click)="goToFirstPage()"
                        >
                            ‹‹
                            <i class="ki-duotone ki-skip-back fs-5"></i>
                        </button>
                    </li>
                    <li
                        class="page-item"
                        [class.disabled]="currentPage === 1"
                    >
                        <button
                            class="page-link previous"
                            role="link"
                            type="button"
                            aria-controls="kt_ecommerce_customers_table"
                            [attr.aria-disabled]="currentPage === 1 ? 'true' : 'false'"
                            aria-label="Previous"
                            (click)="previousPage()"
                        >
                            ‹
                            <i class="ki-duotone ki-left-arrow fs-5"></i>
                        </button>
                    </li>
                    <li
                        class="page-item"
                        *ngFor="let page of displayedPages"
                        [class.active]="currentPage === page"
                    >
                        <button
                            class="page-link"
                            role="link"
                            type="button"
                            aria-controls="kt_ecommerce_customers_table"
                            [attr.aria-current]="currentPage === page ? 'page' : null"
                            (click)="goToPage(page)"
                        >
                            {{ page }}
                        </button>
                    </li>
                    <li
                        class="page-item"
                        [class.disabled]="currentPage === totalPages || totalPages === 0"
                    >
                        <button
                            class="page-link next"
                            role="link"
                            type="button"
                            aria-controls="kt_ecommerce_customers_table"
                            [attr.aria-disabled]="currentPage === totalPages || totalPages === 0 ? 'true' : 'false'"
                            aria-label="Next"
                            (click)="nextPage()"
                        >
                            ›
                            <i class="ki-duotone ki-right-arrow fs-5"></i>
                        </button>
                    </li>
                    <li
                        class="page-item"
                        [class.disabled]="currentPage === totalPages || totalPages === 0"
                    >
                        <button
                            class="page-link last"
                            role="link"
                            type="button"
                            aria-controls="kt_ecommerce_customers_table"
                            [attr.aria-disabled]="currentPage === totalPages || totalPages === 0 ? 'true' : 'false'"
                            aria-label="Last"
                            (click)="goToLastPage()"
                        >
                            ››
                            <i class="ki-duotone ki-skip-forward fs-5"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div id="splash-screen" class="splash-screen">
            <img src="./assets/media/logos/azzo_simbolo.svg" alt="Azzo logo" />
            <span>Loading ...</span>
        </div>
    </ng-template>
</div>