<div  id="kt_app_content_container" class="app-container container-xxl">
    <div id="kt_app_content_container" class="app-container container-xxl">
        <!--begin::Form-->
        <form
            id="kt_ecommerce_add_product_form"
            class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework"
            [formGroup]="productForm"
        >
            <!--begin::Aside column-->
            <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                <!--begin::Thumbnail settings-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Imagem do produto</h2>
                        </div>
                    </div>
                    <!--end::Card header-->

                    <!--begin::Card body-->
                    <div  class="card-body text-center pt-0">
                        <div class="image-input-wrapper w-150px h-150px">
                            <div *ngIf="isLoading" class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                            <img
                              *ngIf="!isLoading"
                              [src]="product.fotoUrl ? product.fotoUrl : 'assets/media/logos/azzo_simbolo.svg'"
                              alt="Imagem do Produto"
                              class="w-100 h-100 object-fit-cover"
                            />
                          </div>
                          
                          
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Thumbnail settings-->

                <!--begin::Status-->
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Detalhes</h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="w-100">
                            <label class="form-label">Categoria</label>
                            <input type="text" name="categoria" class="form-control mb-2" placeholder="Categoria" formControlName="categoria_nome" disable />
                        </div>

                        <div class="w-100">
                            <label class="form-label">NCM</label>
                            <input type="text" name="ncm" class="form-control mb-2" placeholder="NCM" formControlName="ncm" disable />
                        </div>

                        <div class="w-100">
                            <label class="form-label">EAN</label>
                            <input type="text" name="unidade" class="form-control mb-2" placeholder="EAN" formControlName="ean" disable />
                        </div>
                    </div>
                </div>
                <!--end::Status-->

                <!--begin::Weekly sales-->
                <div class="card card-flush py-4">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Weekly Sales</h2>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <span class="text-muted">No data available. Sales data will begin capturing once product has been published.</span>
                    </div>
                </div>
                <!--end::Weekly sales-->
            </div>
            <!--end::Aside column-->

            <!--begin::Main column-->
            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
                        <div class="d-flex flex-column gap-7 gap-lg-10">
                            <!--begin::General options-->
                            <div class="card card-flush py-4">
                                <div class="card-header">
                                    <div class="card-title">
                                        <h2>Informações Básicas</h2>
                                    </div>
                                </div>

                                <div class="card-body pt-0">
                                    <div class="card-body pt-0">
                                        <label class="required form-label">Nome/Descrição</label>
                                        <input type="text" name="product_name" class="form-control mb-2" placeholder="Product name" formControlName="nome" disable />
                                    </div>
                                    <div class="card-body pt-0">
                                        <div>
                                            <label class="form-label">Código</label>
                                            <input type="text" name="code" class="form-control" formControlName="codigo" disable />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::General options-->

                            <!--begin::Pricing-->
                            <div class="card card-flush py-4">
                                <div class="card-header">
                                    <div class="card-title">
                                        <h2>Preço</h2>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="d-flex gap-5">
                                        <div class="w-100">
                                            <label class="required form-label">Preço de Venda</label>
                                            <div class="input-group mb-2">
                                                <span class="input-group-text">R$</span>
                                                <input type="text" name="price" class="form-control" placeholder="Preço de Venda" formControlName="preco_venda" disable />
                                            </div>
                                        </div>
                                        <div class="w-100">
                                            <label class="required form-label">Preço de Custo</label>
                                            <div class="input-group mb-2">
                                                <span class="input-group-text">R$</span>
                                                <input type="text" name="cost_price" class="form-control" placeholder="Preço de Custo" formControlName="preco_custo" disable />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-flush h-md-100">
                                    <div class="card-body pt-5">
                                        <div class="mb-10 fv-row">
                                            <label class="form-label">Descrição Unidade</label>
                                            <input type="text" class="form-control mb-2" formControlName="descricao_uni" disable />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Pricing-->
                        </div>
                    </div>
                    <!--end::Tab pane-->

                </div>

                <div class="d-flex justify-content-end">
                    <a href="/commerce/products" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5" disabled>
                        Cancel
                    </a>

                    <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary" disabled>
                        <span class="indicator-label">
                            Save Changes
                        </span>
                        <span class="indicator-progress">
                            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                </div>
            </div>
            <!--end::Main column-->
        </form>
        <!--end::Form-->
    </div>
</div>
