<div class="card">
  <div class="card-header border-0 pt-6">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon
          name="magnifier"
          class="fs-3 position-absolute ms-5"
        ></app-keenicon>
        <input
        #searchInput
        type="text"
        class="form-control form-control-solid w-250px ps-12"
        placeholder="Pesquisar Usuários"
        (input)="onSearch(searchInput.value)"
      />
      </div>
      <!--end::Search-->
    </div>
    <!--end::Card title-->

    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <!--begin::Toolbar-->
      <div class="d-flex justify-content-end">
        <!-- Botão de Adicionar Usuário (se necessário) -->
        <!-- <button type="button" class="btn btn-primary" (click)="create()">Adicionar Usuário</button> -->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card toolbar-->
  </div>

  <!--begin::Card body-->
  <div class="card-body pt-0">
    <table
      id="userTable"
      class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
    >
      <thead>
        <tr
          class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0"
        >
          <th class="min-w-125px">Nome</th>
          <th class="min-w-125px">Email</th>
          <th class="min-w-125px">Celular</th>
          <th class="min-w-125px">Cargo</th>
          <th class="text-end min-w-100px">Ações</th>
        </tr>
      </thead>
      <tbody class="fw-semibold text-gray-600">
        <tr *ngFor="let user of filteredUsers">
          <td>
            <div
              class="d-flex align-items-center"
            >
              <div
                class="symbol symbol-circle symbol-50px overflow-hidden me-3"
              >
                <a href="javascript:;">
                  <div
                    class="symbol-label fs-3 bg-light-{{ getRandomColor() }} text-{{ getRandomColor() }}"
                  >
                    {{ user.nome.charAt(0).toUpperCase() }}
                  </div>
                </a>
              </div>
              <div class="d-flex flex-column">
                <a
                  href="javascript:;"
                  class="text-gray-800 text-hover-primary mb-1"
                >
                  {{ user.nome }}
                </a>
                <span>{{ user.email }}</span>
              </div>
            </div>
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.celular }}</td>
          <td>{{ user.cargo?.nome }}</td>
          <td class="text-end">
            <button
              class="btn btn-icon btn-active-light-primary w-30px h-30px me-3"
              (click)="edit(user)"
            >
              <i class="ki-duotone ki-pencil fs-3">
                <span class="path1"></span><span class="path2"></span>
              </i>
            </button>
            <button
              class="btn btn-icon btn-active-light-primary w-30px h-30px"
              (click)="delete(user)"
            >
              <i class="ki-duotone ki-trash fs-3">
                <span class="path1"></span><span class="path2"></span>
                <span class="path3"></span><span class="path4"></span>
                <span class="path5"></span>
              </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--end::Card body-->
</div>

<!-- SweetAlert para notificações -->
<swal #noticeSwal [swalOptions]="swalOptions"></swal>
