<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header">
    <h2 class="fw-bold">{{ cargoModel.cargo_id > 0 ? 'Atualizar Cargo' : 'Criar Cargo' }}</h2>
    <div class="btn btn-icon btn-sm btn-active-icon-primary" (click)="closeModal()">
      <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
    </div>
  </div>

  <!-- Modal Body -->
  <div class="modal-body scroll-y mx-5 my-7">
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
      <!-- Nome do Cargo -->
      <div class="mb-4">
        <label class="form-label fw-bold">Cargo</label>
        <input
          type="text"
          class="form-control form-control-solid"
          placeholder="Digite o nome do cargo"
          [(ngModel)]="cargoModel.nome"
          name="nome"
          required 
          minlength="3"
        />
      </div>

      <!-- Checkbox 'Administrador' -->
      <div class="mb-4">
        <label class="form-check form-check-custom form-check-solid">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="isAdmin"
            (change)="onAdminChange($event)"
            name="admin"
          />
          <span class="form-check-label">Administrador
            <span class="ms-1" data-toggle="tooltip" title="Permite acesso total">
              <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
            </span>
          </span>
        </label>
      </div>
      

      <!-- Permissões -->
      <div class="mb-4">
        <label class="form-label fw-bold">Permissões</label>
        <div class="table-responsive">
          <table class="table align-middle table-row-dashed fs-6 gy-5">
            <tbody class="text-gray-600 fw-semibold">
              <tr *ngFor="let perm of permissionsList">
                <td class="text-gray-800">{{ perm.nome }}</td>
                <td>
                  <div class="d-flex">
                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [checked]="permissionStates[perm.permissao_id].ler"
                        (change)="onPermissionChange($event, perm.permissao_id, 'ler')"
                      />
                      <span class="form-check-label">Ler</span>
                    </label>
                    <label class="form-check form-check-custom form-check-solid me-5">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [checked]="permissionStates[perm.permissao_id].editar"
                        (change)="onPermissionChange($event, perm.permissao_id, 'editar')"
                      />
                      <span class="form-check-label">Editar</span>
                    </label>
                    <label class="form-check form-check-custom form-check-solid">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [checked]="permissionStates[perm.permissao_id].criar"
                        (change)="onPermissionChange($event, perm.permissao_id, 'criar')"
                      />
                      <span class="form-check-label">Criar</span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Botões de Ação -->
      <div class="text-center pt-15">
        <button type="reset" class="btn btn-light me-3" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Salvar</button>
      </div>
    </form>
  </div>
</div>
