<div id="kt_app_content_container" class="app-container container-xxl">
    <div
      *ngIf="debt; else loading"
      id="kt_app_content_container"
      class="app-container container-xxl"
    >
      <!--begin::Form-->
      <form
        id="kt_ecommerce_add_customer_form"
        class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework"
        [formGroup]="debtForm"
      >
        <!--begin::Aside column-->
        <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
          <!--begin::Status-->
          <div class="card card-flush py-4">
            <div class="card-header">
              <div class="card-title">
                <h2>Detalhes</h2>
              </div>
            </div>
            <div class="card-body pt-0">
                <div class="w-100">
                    <label class="form-label">Id</label>
                    <input
                      type="text"
                      name="doc"
                      class="form-control mb-2"
                      placeholder="Id"
                      formControlName="id"
                      disable
                    />
                </div>
                <div class="w-100">
                <label class="form-label">Data Competência</label>
                <input
                  type="text"
                  name="name"
                  class="form-control mb-2"
                  placeholder="Data Criação"
                  [value]="debt.data_competencia | date: 'dd/MM/yyyy'"
                  disabled
                />
              </div>  
              <div class="w-100">
                <label class="form-label">Empresa</label>
                <input
                  type="text"
                  name="ie"
                  class="form-control mb-2"
                  placeholder="Empresa"
                  formControlName="empresa"
                  disable
                />
              </div>
              <div class="w-100">
                <label class="form-label">Conta</label>
                <input
                  type="text"
                  name="ie"
                  class="form-control mb-2"
                  placeholder="conta"
                  formControlName="conta"
                  disable
                />
              </div>
              <br/>
              <div class="w-100">
                <label class="form-label">Depesa Grupo:
                    <span class="text-gray-500 fw-bold"
                    >
                      <span class="text-gray-800 fw-bold"
                    >   {{ debt.despesa_grupo ? 'Sim' : 'Não' }}
                      </span
                    >
                </span>
                </label>
              </div>
            </div>
          </div>
          <!--end::Status-->
  
          <div class="card card-flush py-4" data-select2-id="select2-data-147-3qmn">
            <!--begin::Card header-->
            <div class="card-header">
              <!--begin::Card title-->
              <div class="card-title">
                <h2>Status</h2>
              </div>
              <!--end::Card title-->
  
              <!--begin::Card toolbar-->
              <div class="card-toolbar">
                <div
                  class="rounded-circle bg-success w-15px h-15px"
                  id="kt_ecommerce_add_product_status"
                ></div>
              </div>
              <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
  
            <!--begin::Card body-->
            <div class="card-body pt-0" data-select2-id="select2-data-146-bwni">
              <!--begin::Select2-->
              <select 
              class="form-control" 
              name="status_pagamento_id" 
              formControlName="status_pagamento"
              required
              >
              <option [value]="1">Pendente</option>
              <option [value]="2">Pago</option>
              <option [value]="3">Em Atraso</option>
              <option [value]="4">Cancelado</option>
            </select>
              <!--end::Select2-->
  
              <!--begin::Datepicker-->
              <!--end::Datepicker-->
            </div>
            <!--end::Card body-->
          </div>
                <div class="card card-flush h-xl-100">
                <!--begin::Header-->
                <div class="card-header pt-7">
                    <!--begin::Title-->
                    <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-gray-900">Parcelas:</span>
                    <span class="text-gray-500 mt-1 fw-semibold fs-6">
                        {{ debt.parcela_debito.length || 0 }} Parcelas
                    </span>
                    </h3>
                    <!--end::Title-->
            
                    <!--begin::Toolbar (opcional)-->
                    <!--end::Toolbar-->
                </div>
                <!--end::Header-->
            
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Scroll (altura fixa p/ scroll interno, ajuste se preferir)-->
                    <div class="hover-scroll-overlay-y pe-6 me-n6" style="height: 415px">
                    <!--begin::Item (repete para cada parcela)-->
                    <div
                        class="border border-dashed border-gray-300 rounded px-7 py-3 mb-6"
                        *ngFor="let parcela of debt?.parcela_debito"
                    >
                        <!--begin::Info-->
                        <div class="d-flex flex-stack mb-3">
                        <!--begin::Wrapper-->
                        <div class="me-3">
                            <!--Título da parcela-->
                            <a href="#" class="text-gray-800 text-hover-primary fw-bold"
                            >Parcela #{{ parcela.numero }}</a
                            >
                        </div>
                        <!--end::Wrapper-->
            
                        <!--begin::Action (menu/botão) - opcional-->
                        <div class="m-0">
                            <button
                            class="btn btn-icon btn-color-gray-500 btn-active-color-primary justify-content-end"
                            data-kt-menu-trigger="click"
                            data-kt-menu-placement="bottom-end"
                            data-kt-menu-overflow="true"
                            
                            >
                            <i class="ki-duotone ki-dots-square fs-1">
                                <span class="path1"></span><span class="path2"></span
                                ><span class="path3"></span><span class="path4"></span>
                            </i>
                            </button>
                            <!-- Você pode inserir aqui o mesmo menu dropdown do exemplo, se desejar -->
                        </div>
                        <!--end::Action-->
                        </div>
                        <!--end::Info-->
            
                        <!--begin::Customer (neste caso, exibindo vencimento e status)-->
                        <div class="d-flex flex-stack">
                        <!-- Vencimento -->
                        <span class="text-gray-500 fw-bold"
                            >Vencimento:
                            <span class="text-gray-800 text-hover-primary fw-bold">
                            {{ parcela.data_vencimento | date: 'dd/MM/yyyy' }}
                            </span>
                        </span>
            
                        <!-- Badge do status (Paga / Em Aberto) -->
                        <span
                            class="badge"
                            [ngClass]="{
                            'badge-light-success': parcela.data_pagamento,
                            'badge-light-danger': !parcela.data_pagamento
                            }"
                        >
                            {{ parcela.status_pagamento.nome }}
                        </span>
                        </div>
                        <!--end::Customer-->
            
                        <!-- Valor da parcela -->
                        <div class="d-flex flex-stack mt-3">
                        <span class="text-gray-500 fw-bold"
                            >Valor:
                            <span class="text-gray-800 fw-bold"
                            >{{ parcela.valor | currency: 'BRL' }}</span
                            >
                        </span>
                        </div>
                    </div>
                    <!--end::Item-->
                    </div>
                    <!--end::Scroll-->
                </div>
                <!--end::Body-->
                </div>
                <!--end::List widget 5-->
            </div>
  
        <!--begin::Main column-->
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
          <div class="tab-content">
            <div
              class="tab-pane fade show active"
              id="kt_ecommerce_add_customer_general"
              role="tab-panel"
            >
              <div class="d-flex flex-column gap-7 gap-lg-10">
                <!--begin::General options-->
                <div class="card card-flush py-4">
                  <div class="card-header">
                    <div class="card-title">
                      <h2>Informações Despesa</h2>
                    </div>
                  </div>
                  <div class="card-body pt-0">
                    <div class="card-body pt-0">
                      <label class="form-label">Nome</label>
                      <input
                        type="text"
                        name="company_name"
                        class="form-control mb-2"
                        placeholder="Nome Empresa"
                        formControlName="nome"
                        disable
                      />
                    </div>
                    <div class="card-body pt-0">
                      <div>
                        <label class="form-label">Departamento</label>
                        <input
                          type="text"
                          name="email"
                          class="form-control"
                          placeholder="CNPJ"
                          formControlName="departamento"
                          disable
                        />
                      </div>
                    </div>
                    <div class="card-body pt-0">
                      <div>
                        <label class="form-label">Categoria</label>
                        <input
                          type="text"
                          name="phone"
                          class="form-control"
                          placeholder="Telefone"
                          formControlName="categoria"
                          disable
                        />
                      </div>
                    </div>
                    <div class="card-body pt-0">
                      <div>
                        <label class="form-label">Criado por:</label>
                        <input
                          type="text"
                          name="email"
                          class="form-control"
                          placeholder="Email do User"
                          formControlName="criado_por"
                          disable
                        />
                      </div>
                    </div>
                    <div class="card-body pt-8">
                        <div>
                          <label class="form-label">Valor Total:
                            <span 
                                class="text-gray-500 fw-bold"
                            >
                              <span 
                                class="text-gray-800 fw-bold"
                              >   
                                {{ debt.valor_total | currency: 'BRL' }}
                              </span
                            >
                            </span>
                          </label>                          
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div>
                          <label class="form-label">Valor Juros:
                            <span 
                                class="text-gray-500 fw-bold"
                            >
                              <span 
                                class="text-gray-800 fw-bold"
                              >   
                                {{ debt.juros | currency: 'BRL' }}
                              </span
                            >
                            </span>
                          </label>                          
                        </div>
                    </div>                     
                  </div>
                </div>
                <!--end::General options-->
  
                <!--begin::Pricing-->
                
                <!--end::Pricing-->
              </div>
            </div>
            <!--end::Tab pane-->
          </div>
  
          <div class="d-flex justify-content-end">
            <a
              href="/metronic8/demo1/apps/ecommerce/customers.html"
              id="kt_ecommerce_add_customer_cancel"
              class="btn btn-light me-5"
              disabled
            >
              Cancel
            </a>
            <button
              type="submit"
              id="kt_ecommerce_add_customer_submit"
              class="btn btn-primary"

              [disabled]="!debtForm.dirty"
            >
              <span class="indicator-label">Save Changes</span>
              <span class="indicator-progress"
                >Please wait...
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
            </button>
          </div>
        </div>
        <!--end::Main column-->
      </form>
      <!--end::Form-->
    </div>
  </div>  
  <ng-template #loading>
    <div id="splash-screen" class="splash-screen">
      <img src="./assets/media/logos/azzo_simbolo.svg" alt="Azzo logo" />
      <span>Loading ...</span>
    </div>
  </ng-template>
  <swal #noticeSwal [swalOptions]="swalOptions"></swal>

  