<div class="card">
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
                <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
                <input
                    type="text"
                    class="form-control form-control-solid w-360px ps-12"
                    placeholder="Pesquisar Pedido"
                    [(ngModel)]="searchTerm"
                    (input)="onSearch()"
                />
            </div>
            <div class="d-flex align-items-center position-relative my-1 ms-8">
                <select 
                class="form-select form-select-solid form-select-lg"  
                id="filterDate" 
                [(ngModel)]="dataRange" 
                (ngModelChange)="showCustomDatePicker = dataRange === 'custom'"
                >   
                    <option value="">Data Vencimento</option>
                    <option value="today">Hoje</option>
                    <option value="tomorrow">Amanhã</option>
                    <option value="next7">Próximos 7 Dias</option>
                    <option value="next15">Próximos 15 Dias</option>
                    <option value="next30">Próximos 30 Dias</option>
                    <option value="nextMonth">Próximos Mês</option>
                    <option value="thisMonth">Este Mês</option>
                    <option value="lastMonth">Mês Passado</option>
                    <option value="custom">Entre Datas</option>
                </select>
                <div *ngIf="showCustomDatePicker" class="d-flex align-items-center position-relative my-1 ms-8">
                    <label class="form-label">From:</label>
                    <input type="date" class="form-control form-control-solid w-150px ps-12" [(ngModel)]="customDateRange.start" />
                    <label class="form-label ms-3">To:</label>
                    <input type="date" class="form-control form-control-solid w-150px ps-12 ms-3" [(ngModel)]="customDateRange.end" />
                </div>
            </div>         
            <button class="btn btn-primary d-flex align-items-center position-relative my-1 ms-9" (click)="onDateRangeChange()">Apply</button>
            <div class="d-flex align-items-center position-absolute my-1 ms-8 end-0  me-10">
              <select
                class="form-select form-select-solid form-select-lg"
                [(ngModel)]="selectedStatus"
                (change)="applyFilter()"
              >
                <option value="">Status</option>
                <option value="1">Pendente</option>
                <option value="2">Pago</option>
                <option value="3">Em Atraso</option>
                <option value="4">Cancelado</option>
              </select>
            </div>
    </div>

    <div *ngIf="paginatedCredits; else loading" class="card-body pt-0">
        <div class="table-responsive">
            <table
                id="kt_ecommerce_credits_table"
                class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer"
            >
                <thead>
                    <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0" >
                        <th class="min-w-50px">ID</th>
                        <th class="min-w-125px">Cliente</th>
                        <th class="min-w-125px">Data Criação</th>
                        <th class="min-w-125px">Valor</th>
                        <th class="min-w-125px">Cód Pedido</th>
                        <th class="min-w-125px">Data Vencimento</th>
                        <th class="min-w-125px">Status Pagamento</th>
                        <th class="text-end min-w-100px">Ações</th>
                    </tr>
                </thead>
                <tbody class="fw-semibold text-gray-600">
                    <tr *ngFor="let credit of paginatedCredits">
                        <td>{{ credit.parcela_id }}</td>
                        <td>{{ credit.venda ? credit.venda.cliente.nome : 'Cliente Teste' }}</td>
                        <td>{{ credit.data_criacao | date:'dd/MM/yyyy' }}</td>
                        <td>{{ credit.valor | currency:'BRL' }}</td>
                        <td>{{ credit.venda ? credit.venda.codigo : '' }}</td>
                        <td>{{ credit.data_vencimento | date:'dd/MM/yyyy'}}</td>
                        <td>                            
                            <span class="badge td" [ngClass]="getStatusClass(credit.status_pagamento.status_pagamento_id)">
                            {{ credit.status_pagamento ? credit.status_pagamento.nome : 'Pendente' }}
                            </span>  
                        </td>   

                        <td class="text-end">
                            <button
                             class="btn btn-icon btn-active-light-primary w-30px h-30px me-3"
                                (click)="openCreditModal(credit)"
                            >
                                <i class="ki-duotone ki-pencil fs-3">
                                    <span class="path1"></span><span class="path2"></span>
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="row mt-5">
            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                <div class="fs-6 fw-bold text-gray-700">
                    Mostrando {{ startItem }} - {{ endItem }} de {{ filteredCredits.length }} Receitas.
                </div>
            </div>
            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                <ul class="pagination">
                    <li
                        class="page-item"
                        [class.disabled]="currentPage === 1"
                    >
                        <button
                            class="page-link first"
                            role="link"
                            type="button"
                            aria-controls="kt_ecommerce_credits_table"
                            [attr.aria-disabled]="currentPage === 1 ? 'true' : 'false'"
                            aria-label="First"
                            (click)="goToFirstPage()"
                        >
                            ‹‹
                            <i class="ki-duotone ki-skip-back fs-5"></i>
                        </button>
                    </li>
                    <li
                        class="page-item"
                        [class.disabled]="currentPage === 1"
                    >
                        <button
                            class="page-link previous"
                            role="link"
                            type="button"
                            aria-controls="kt_ecommerce_credits_table"
                            [attr.aria-disabled]="currentPage === 1 ? 'true' : 'false'"
                            aria-label="Previous"
                            (click)="previousPage()"
                        >
                            ‹
                            <i class="ki-duotone ki-left-arrow fs-5"></i>
                        </button>
                    </li>
                    <li
                        class="page-item"
                        *ngFor="let page of displayedPages"
                        [class.active]="currentPage === page"
                    >
                        <button
                            class="page-link"
                            role="link"
                            type="button"
                            aria-controls="kt_ecommerce_credits_table"
                            [attr.aria-current]="currentPage === page ? 'page' : null"
                            (click)="goToPage(page)"
                        >
                            {{ page }}
                        </button>
                    </li>
                    <li
                        class="page-item"
                        [class.disabled]="currentPage === totalPages || totalPages === 0"
                    >
                        <button
                            class="page-link next"
                            role="link"
                            type="button"
                            aria-controls="kt_ecommerce_credits_table"
                            [attr.aria-disabled]="currentPage === totalPages || totalPages === 0 ? 'true' : 'false'"
                            aria-label="Next"
                            (click)="nextPage()"
                        >
                            ›
                            <i class="ki-duotone ki-right-arrow fs-5"></i>
                        </button>
                    </li>
                    <li
                        class="page-item"
                        [class.disabled]="currentPage === totalPages || totalPages === 0"
                    >
                        <button
                            class="page-link last"
                            role="link"
                            type="button"
                            aria-controls="kt_ecommerce_credits_table"
                            [attr.aria-disabled]="currentPage === totalPages || totalPages === 0 ? 'true' : 'false'"
                            aria-label="Last"
                            (click)="goToLastPage()"
                        >
                            ››
                            <i class="ki-duotone ki-skip-forward fs-5"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div id="splash-screen" class="splash-screen">
            <img src="./assets/media/logos/azzo_simbolo.svg" alt="Azzo logo" />
            <span>Loading ...</span>
        </div>
    </ng-template>
</div>
