<div class="card">
  <!--begin::Body-->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table align-middle table-row-bordered table-row-solid gy-4 gs-6">
        <thead class="border-gray-200 fs-6 fw-semibold bg-lighten text-uppercase">
          <tr>
            <th class="min-w-200px ps-9">Vendedor</th>
            <th class="min-w-100px text-end">Pedidos</th>
            <th class="min-w-130px text-end">Clientes Novos</th>
            <th class="min-w-150px text-end">Bônus</th>
          </tr>
        </thead>
        <tbody class="fs-6 fw-semibold text-gray-600">
          <tr *ngFor="let seller of sellers">
            <td class="ps-9 text-gray-900 fw-bold">{{ seller.name }}</td>
            <td class="text-end">{{ seller.pedidos }}</td>
            <td class="text-end">{{ seller.clientes_novos }}</td>
            <td
              class="text-end"
              [ngClass]="{
                'text-success': seller.valor_total >= 0,
                'text-danger': seller.valor_total < 0
              }"
            >
              {{ seller.valor_total | currency:'BRL' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--end::Body-->
</div>
