<div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">More actions
  <!--begin::Menu-->
  <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
    <!-- Dashboard -->
    <div *ngIf="isRole('Administrador')" class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="profile-user" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/apps/users">Administrador</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/users/new-account">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Criar</span>
          </a>
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/users">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Usuários</span>
          </a>
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/roles">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Cargos</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Catalog -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <span class="menu-icon">
            <i class="ki-duotone ki-basket fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
            </i>
          </span>
        </span>
        <span class="menu-title" data-link="/commerce/products">Catalogo</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/commerce/products">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Produtos</span>
          </a>
        </div>
      </div>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/commerce/orders">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title d-flex align-items-center">
              Pedidos
              <img src="./assets/media/logos/azzo_simbolo.svg" class="ms-2" width="16" height="16" alt="Logo Azzo" style="vertical-align: middle;" />
            </span>
          </a>
        </div>
      </div>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/commerce/e-commerce">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">E-commerce</span>
          </a>
        </div>
      </div>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/commerce/customers">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Clientes</span>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="isRole('Administrador', 'Financeiro')" class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <span class="menu-icon">
            <i class="bi bi-bank">
              <span class="path1"></span>
              <span class="path2"></span>
              <span class="path3"></span>
              <span class="path4"></span>
            </i>
          </span>
        </span>
        <span class="menu-title" data-link="/financial/credits">Financeiro</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/financial/credits">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Receita</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/financial/debts">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Despesa</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Vendedores -->
    <div *ngIf="isRole('Administrador', 'Financeiro')" class="menu-item menu-accordion" data-kt-menu-trigger="click">
      <span class="menu-link">
        <span class="menu-icon">
          <i class="bi bi-person-badge"></i>
        </span>
        <span class="menu-title">Vendedores</span>
        <span class="menu-arrow"></span>
      </span>

      <div class="menu-sub menu-sub-accordion">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="/sellers/commissions" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Comissão</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="/sellers/positivity" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Positivação</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="/sellers/weekly-bonus" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Bônus Semanal</span>
          </a>
        </div>
      </div>
    </div>
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click">
      <span class="menu-link">
        <span class="menu-icon">
          <i class="bi-box-seam"></i>
        </span>
        <span class="menu-title">Expedição</span>
        <span class="menu-arrow"></span>
      </span>

      <div class="menu-sub menu-sub-accordion">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="/expedition/stock" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Estoque</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="/expedition/imported-xml" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">NFs Importadas</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="/expedition/stock-projection" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Projeção Estoque</span>
          </a>
        </div>
      </div>
      <div class="menu-sub menu-sub-accordion">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLink="/expedition/romaneio" routerLinkActive="active">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Romaneio</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
