<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/dashboard">
    <span class="menu-title"
          translate="MENU.DASHBOARD"></span>
  </a>
</div>

<!-- Crafted -->
<div class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
     data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start">
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted')">
    <span class="menu-title">Menu</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  <div class="
      menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
      py-lg-4
      w-lg-225px
    " data-kt-menu-dismiss="true" data-popper-placement="bottom-start">
    <div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default:'click', lg: 'hover'}"
         data-kt-menu-placement="right-start">
      <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted/account')">
        <span class="menu-icon"><i
          class="bi fs-3 bi-person"></i></span>
        <span class="menu-title"
              data-link="/crafted/account">Accounts
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="
          menu-sub
          menu-sub-lg-down-accordion
          menu-sub-lg-dropdown
          menu-rounded-0
          py-lg-4
          w-lg-225px
        " data-kt-menu-dismiss="true">
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="/apps/users/new-account">
            <span
              class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span
              class="menu-title">Criar
            </span>
          </a>
        </div>
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="apps/users">
            <span
              class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span
              class="menu-title">Usuários
            </span>
          </a>
        </div>
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="/apps/roles">
            <span
              class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span
              class="menu-title">Roles
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- MegaMenu -->

<div class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
  data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start">
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/crafted')">
  <span class="menu-title">Style Sidebar</span>
  <span class="menu-arrow d-lg-none"></span>
  </span>
    <div class="
      menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0
      py-lg-4
      w-lg-225px
    " data-kt-menu-dismiss="true" data-popper-placement="bottom-start">
      <div class="menu-item p-0 m-0">
        <!--begin:Menu link-->
        <a (click)="setBaseLayoutType('light-sidebar')" class="menu-link">
          <span class="menu-bullet">
            <span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
          </span>
          <span class="menu-title">Light Sidebar</span>
        </a>
        <div class="menu-item p-0 m-0">
          <!--begin:Menu link-->
          <a (click)="setBaseLayoutType('dark-sidebar')" class="menu-link">
            <span class="menu-bullet">
              <span class="bullet bullet-dot bg-gray-300i h-6px w-6px"></span>
            </span>
            <span class="menu-title">Dark Sidebar</span>
          </a>
          <!--end:Menu link-->
        </div>
        <!--end:Menu link-->
      </div>
  </div>
</div>
