<div class="card mb-5 mb-xl-10">
    <div class="card-body border-top p-9">
      <form [formGroup]="newAccountForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Nome</label>
          <div class="col-lg-8 fv-row">
            <input
              formControlName="nome"
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Nome Completo"
            />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Username</label>
          <div class="col-lg-8 fv-row">
            <input
              formControlName="username"
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Username"
            />
          </div>
        </div>
        
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Cargo</label>
          <div class="col-lg-8 fv-row">
            <select formControlName="cargo" class="form-select form-select-solid form-select-lg">
              <option value="" disabled selected>Selecione um Cargo</option>
              <option *ngFor="let cargo of cargos" [value]="cargo.cargo_id">{{ cargo.nome }}</option>
            </select>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Data de Nascimento</label>
          <div class="col-lg-8 fv-row">
            <input
              formControlName="nascimento"
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Data de Nascimento"
              mask="00/00/0000"
            />
          </div>
        </div>
        
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Celular</label>
          <div class="col-lg-8 fv-row">
            <input
              formControlName="celular"
              type="tel"
              class="form-control form-control-lg form-control-solid"
              placeholder="Número de Celular"
              mask="(00) 00000-0000"
            />
          </div>
        </div>
        
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Email</label>
          <div class="col-lg-8 fv-row">
            <input
              formControlName="email"
              type="email"
              class="form-control form-control-lg form-control-solid"
              placeholder="Email"
            />
            <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="text-danger mt-2">
              <small *ngIf="f.email.errors?.required">O email é obrigatório.</small>
              <small *ngIf="f.email.errors?.email">Forneça um e-mail válido.</small>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Senha</label>
          <div class="col-lg-8 fv-row">
            <input
              formControlName="senha"
              type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="Senha"
            />
            <div *ngIf="f.senha.invalid && (f.senha.dirty || f.senha.touched)" class="text-danger mt-2">
              <small *ngIf="f.senha.errors?.required">A senha é obrigatória.</small>
              <small *ngIf="f.senha.errors?.minlength">A senha deve ter no mínimo 6 caracteres.</small>
            </div>
          </div>
        </div>
        
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Endereço</label>
          <div class="col-lg-8 fv-row">
            <input
              formControlName="endereco"
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Endereço Completo"
            />
          </div>
        </div>
        
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Cidade</label>
          <div class="col-lg-8 fv-row">
            <mat-form-field class="w-100">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                matInput
                placeholder="Cidade"
                aria-label="Cidade"
                formControlName="cidade"
                autocomplete="new-city"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                class="my-custom-autocomplete"                
                #auto="matAutocomplete"
                [displayWith]="displayCidade"
                (optionSelected)="onCidadeSelected($event)"
              >
                <mat-option *ngIf="isLoading">
                  <mat-spinner diameter="20"></mat-spinner> Carregando...
                </mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option
                    *ngFor="let cidade of filteredCidades | async"
                    [value]="cidade"
                  >
                    {{ cidade.nome }}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
              <mat-error *ngIf="f.cidade.invalid && (f.cidade.dirty || f.cidade.touched)">
                Por favor, selecione uma cidade válida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

          <div class="row mb-6" *ngIf="f.cargo.value === '2'">
            <label class="col-lg-4 col-form-label required fw-bold fs-6">Região</label>
            <div class="col-lg-8 fv-row">
              <select formControlName="regiao" class="form-select form-select-solid form-select-lg">
                <option value="" disabled selected>Selecione uma região</option>
                <option *ngFor="let regiao of regioes" [value]="regiao.regiao_id">{{ regiao.nome }}</option>
              </select>
            </div>
          </div>
          <div *ngIf="hasError" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
        
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="isLoading"
            (click)="onSubmit()"
          >
            <ng-container *ngIf="!isLoading">Save Changes</ng-container>
            <ng-container *ngIf="isLoading">
              <span clas="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
            </ng-container>
          </button>
        </div>
      </form>
    </div>
  </div>
  
