<div class="card-title">
  <div class="d-flex align-items-center gap-3 flex-wrap">
    <!-- Date Filter -->
    <select 
      class="form-select w-auto"  
      id="filterDate"
      [(ngModel)]="dataRange" 
      (ngModelChange)="showCustomDatePicker = dataRange === 'custom'"
    >   
      <option value="">Selecione o Período:</option>
      <option value="last7" selected>Últimos 7 Dias</option>
      <option value="last15">Últimos 15 Dias</option>
      <option value="last30">Últimos 30 Dias</option>
      <option value="thisMonth">Este Mês</option>
      <option value="lastMonth">Mês Passado</option>
      <option value="lastWeek">Semana Passada</option>
      <option value="custom">Entre Datas</option>
    </select>
    <div *ngIf="showCustomDatePicker" class="d-flex align-items-center position-relative my-1 ms-8">
      <label class="form-label">De:</label>
      <input type="date" class="form-control form-control-solid w-150px ps-12" [(ngModel)]="customDateRange.start" />
      <label class="form-label ms-3">Para:</label>
      <input type="date" class="form-control form-control-solid w-150px ps-12 ms-3" [(ngModel)]="customDateRange.end" />
    </div>
    <!-- Botão Aplicar -->
    <button 
      class="btn btn-primary d-flex align-items-center position-relative my-1"
      (click)="onDateRange()"
    >
      Aplicar
    </button>
  </div>
</div>
<div class="card card-flush h-md-25 mb-5 mb-xl-10" style="width: 300px; float: left;">
  <div class="card-header pt-5">
    <div class="card-title d-flex flex-column">
      <div class="d-flex align-items-center">
        <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-start">R$</span>
        <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">
          {{ salesPerformance.faturamentoMesAtual | number: '1.2-2' }}
        </span>
        <span class="badge fs-base" [ngClass]="getBadgeClass(salesPerformance.direcao)">
          <i class="ki-duotone fs-10 ms-n1" [ngClass]="getBadgeIcon(salesPerformance.direcao)">
            <span class="path1"></span><span class="path2"></span>
          </i>
          {{ salesPerformance.variacaoPercentual | number: '1.2-2' }}%
        </span>
        
      </div>
      <span class="text-gray-500 pt-1 fw-semibold fs-9">Faturamento {{ periodoLabel }}</span>
    </div>
  </div>

  <div class="card-body pt-2 pb-4 d-flex flex-column align-items-center">
    <!-- Chart area -->
    <div class="d-flex flex-center pt-2 mb-4">
      <div style="min-width: 100px; min-height: 100px">
        <canvas id="chart-marcas" width="150" height="100"></canvas>
      </div>
    </div>

    <!-- Marcas abaixo do gráfico -->
    <div class="d-flex flex-column w-100">
      <div
        *ngFor="let marca of marcas; let i = index"
        class="d-flex fw-semibold align-items-center my-2 justify-content-between"
      >
        <div class="d-flex align-items-center">
          <div class="bullet w-8px h-5px rounded-2 me-3" [style.backgroundColor]="marca.cor"></div>
          <div class="text-gray-500">{{ marca.nome }}</div>
        </div>
        <div class="fw-bolder text-gray-700 text-end">
          R$ {{ marca.valor | number: '1.2-2' }}
        </div>
      </div>
    </div>
  </div>
</div>
