<div class="card-body">
  <!-- Filtro de Datas -->
  <div class="d-flex align-items-center gap-3 flex-wrap mb-5">
    <select 
      class="form-select w-auto"  
      id="filterDate"
      [(ngModel)]="dataRange"
      (change)="onDateRange()"
    >  
      <option value="">Selecione o Período:</option>
      <option value="yesterday">Ontem</option>
      <option value="last7">Últimos 7 Dias</option>
      <option value="last15">Últimos 15 Dias</option>
      <option value="thisMonth">Este Mês</option>
      <option value="lastMonth">Mês Passado</option>
      <option value="lastWeek">Semana Passada</option>
      <option value="custom">Entre Datas</option>
    </select>

    <div *ngIf="showCustomDatePicker" class="d-flex align-items-center position-relative my-1 ms-8">
      <label class="form-label">De:</label>
      <input type="date" class="form-control form-control-solid w-150px ps-12" [(ngModel)]="customDateRange.start" />
      <label class="form-label ms-3">Para:</label>
      <input type="date" class="form-control form-control-solid w-150px ps-12 ms-3" [(ngModel)]="customDateRange.end" />
    </div>

    <button 
      class="btn btn-primary d-flex align-items-center position-relative my-1"
      (click)="onDateRange()"
    >
      Aplicar
    </button>
  </div>

  <!-- Tabela -->
  <div class="table-responsive">
    <table class="table align-middle table-row-dashed fs-6 gy-3 dataTable" style="width: 100%;">
      <thead>
        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
          <th class="min-w-150px">Vendedor</th>
          <th class="text-end pe-3 min-w-100px">Faturado</th>
          <th class="text-end pe-3 min-w-100px">Pedidos</th>
          <th class="text-end pe-3 min-w-100px">Comissão</th>
          <th class="text-end pe-3 min-w-100px">Ticket Médio</th>
          <th class="text-end pe-3 min-w-100px">Valor em Bonificações</th>
          <th style="width: 20px;"></th>
          <th class="text-center min-w-200px">Progresso Faturamento</th>
          <th class="text-center min-w-200px">Progresso Pedidos</th>
        </tr>
      </thead>
      <tbody class="fw-bold text-gray-600">
        <ng-container *ngFor="let item of comissionSorted">
          <tr>
            <td>{{ item.vendedor }}</td>
            <td class="text-end">R$ {{ item.faturado | number: '1.2-2' }}</td>
            <td class="text-end">{{ item.pedidos }}</td>
            <td class="text-end">R$ {{ item.comissao | number: '1.2-2' }}</td>
            <td class="text-end">R$ {{ item.ticketMedio | number: '1.2-2' }}</td>
            <td class="text-end">R$ {{ 0.00 | number: '1.2-2' }}</td>
            <td></td>
            <!-- Faturamento -->
            <td>
              <div *ngIf="item.progresso_fat !== undefined && item.meta_fat !== undefined">
                <div class="border rounded bg-light p-2">
                  <div class="mb-1 text-muted small">
                    Meta: R$ {{ item.meta_fat | number:'1.2-2' }}
                  </div>
                  <div class="progress position-relative" style="height: 20px; width: 80%;">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      [style.width.%]="item.progresso_fat"
                      [attr.aria-valuenow]="item.progresso_fat"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      {{ item.progresso_fat }}%
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <!-- Pedidos -->
            <td>
              <div *ngIf="item.progresso_ped !== undefined && item.meta_ped !== undefined">
                <div class="border rounded bg-light p-2">
                  <div class="mb-1 text-muted small">
                    Meta: {{ item.meta_ped }}
                  </div>
                  <div class="progress position-relative" style="height: 20px; width: 80%;">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      [style.width.%]="item.progresso_ped"
                      [attr.aria-valuenow]="item.progresso_ped"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      {{ item.progresso_ped }}%
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
