<div class="card-body">
    <div class="table-responsive">
        <table class="table align-middle table-row-dashed fs-6 gy-3 dataTable" style="width: 100%;">
        <thead>
            <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
            <th class="min-w-150px">Vendedor</th>
            <th class="text-end pe-3 min-w-100px">Faturado</th>
            <th class="text-end pe-3 min-w-100px">Pedidos</th>
            <th class="text-end pe-3 min-w-100px">Comissão</th>
            <th class="text-end pe-3 min-w-100px">Ticket Médio</th>
            <th class="text-end pe-3 min-w-100px">Comissão Média</th>
            </tr>
        </thead>
        <tbody class="fw-bold text-gray-600">
            <tr *ngFor="let item of comission">
            <td>{{ item.vendedor }}</td>
            <td class="text-end">R$ {{ item.faturado | number: '1.2-2' }}</td>
            <td class="text-end">{{ item.pedidos }}</td>
            <td class="text-end">R$ {{ item.comissao | number: '1.2-2' }}</td>
            <td class="text-end">R$ {{ item.ticketMedio | number: '1.2-2' }}</td>
            <td class="text-end">R$ {{ item.comissaoMedia | number: '1.2-2' }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
  