<div *ngIf="user; else loading" class="card mb-5 mb-xl-10">
  <div id="kt_account_profile_details" class="collapse show">
    <form class="form" [formGroup]="profileForm">
      <div class="card-body border-top p-9">
        <!-- Avatar -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Avatar</label>
          <div class="col-lg-8">
            <div class="image-input image-input-outline" data-kt-image-input="true">
              <div class="image-input-wrapper w-100px h-100px">
                <img
                  [src]="user.fotoUrl ? user.fotoUrl : './assets/media/avatars/blank.png'"
                  alt="Foto do usuário"
                  class="symbol symbol-100px"
                  style="object-fit: cover; width: 100px; height: 100px;"
                />
              </div>
              <!-- Botão para alterar a foto -->
              <label
                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="change"
              >
                <i class="bi bi-pencil-fill fs-7"></i>
                <input
                  type="file"
                  (change)="onFileSelected($event)"
                  accept="image/*"
                  style="display: none;"
                />
              </label>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            >Nome</label
          >
          <div class="col-lg-8 fv-row">
            <input
              formControlName="nome"
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Nome Completo"
              name="nome"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Cargo</label>
          <div class="col-lg-8 fv-row">
            <select
              formControlName="cargo"
              class="form-select form-select-solid form-select-lg"
              name="cargo"
            >
              <!-- Exibir o cargo atual do usuário como a opção selecionada -->
              <option [value]="user.cargo?.nome" selected>{{ user.cargo?.nome }}</option>
        
              <!-- Iterar pela lista de cargos para exibir as opções -->
              <option *ngFor="let cargo of cargos | removeCurrentCargo:user?.cargo?.cargo_id" [value]="cargo.cargo_id">
                {{ cargo.nome }}
              </option>
            </select>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span>Data de Nascimento</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              formControlName="nascimento"
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Data de Nascimento"
              name="dataNascimento"
              mask="00/00/0000"
            />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span>Celular</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              formControlName="celular"
              type="tel"
              class="form-control form-control-lg form-control-solid"
              placeholder="Celular"
              name="celular"
              mask="(00) 00000-0000"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span>Email</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              formControlName="email"
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Email"
              name="email"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span>Endereço</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              formControlName="endereco"
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Endereço"
              name="endereco"
              [value]="user.endereco"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Cidade</label>
          <div class="col-lg-8 fv-row">
            <mat-form-field class="form-control-lg form-control-solid w-100 fv-row">
              <input
                matInput
                type="text"
                placeholder="Cidade"
                aria-label="Cidade"
                formControlName="cidade"
                autocomplete="new-city"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCidade">
                <mat-option *ngIf="isLoading">
                  <mat-spinner diameter="20"></mat-spinner> Carregando...
                </mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let cidade of filteredCidades | async" [value]="cidade">
                    {{ cidade.nome }}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
              <mat-error *ngIf="f.cidade.invalid && (f.cidade.dirty || f.cidade.touched)">
                Por favor, selecione uma cidade válida.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span>Estado</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Estado"
              name="estado"
              [value]="user.cidade.estado.nome"
              readonly
            />
          </div>
        </div>
        <div class="row mb-6" *ngIf="f.cargo.value === '2' || user.regiao?.regiao_id">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Região</span></label
          >
          <div class="col-lg-8 fv-row">
            <select formControlName="regiao" class="form-select form-select-solid">
              <option value="" disabled>Selecione Uma Região</option>
              <option *ngFor="let regiao of regioes" [value]="regiao.regiao_id">{{ regiao.nome }}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
          type="button"
          class="btn btn-primary"
          [disabled]="!((profileForm.valid && profileForm.dirty) || selectedFile) || (isLoading$ | async)"
          (click)="userUpdate(); uploadPhoto()"
        >
          <ng-container *ngIf="!(isLoading$ | async); else loading">
            Salvar
          </ng-container>
          <ng-template #loading>
            <span class="indicator-progress" style="display: block;">
              Please wait... 
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <div id="splash-screen" class="splash-screen">
    <img src="./assets/media/logos/azzo_simbolo.svg" alt="Azzo logo" />
    <span>Loading ...</span>
  </div>
</ng-template>
<swal #noticeSwal [swalOptions]="swalOptions"></swal>